@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 56% 93%;
    --foreground: 212 46% 8%;
    --card: 210 56% 93%;
    --card-foreground: 212 46% 8%;
    --popover: 210 56% 93%;
    --popover-foreground: 212 46% 8%;
    --primary: 211 66% 27%;
    --primary-foreground: 210 56% 93%;
    --secondary: 210 76% 66%;
    --secondary-foreground: 212 46% 8%;
    --muted: 210 57% 20%;
    --muted-foreground: 212 46% 70%;
    --accent: 211 86% 47%;
    --accent-foreground: 210 56% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 212 46% 8%;
    --border: 210 57% 20%;
    --input: 210 57% 20%;
    --ring: 211 86% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 209 57% 7%;
    --foreground: 210 45% 92%;
    --card: 209 57% 7%;
    --card-foreground: 210 45% 92%;
    --popover: 209 57% 7%;
    --popover-foreground: 210 45% 92%;
    --primary: 211 66% 73%;
    --primary-foreground: 209 57% 7%;
    --secondary: 210 76% 34%;
    --secondary-foreground: 210 45% 92%;
    --muted: 209 57% 80%;
    --muted-foreground: 210 45% 92%;
    --accent: 211 86% 53%;
    --accent-foreground: 209 57% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 211 45% 10%;
    --border: 209 57% 60%;
    --input: 209 57% 80%;
    --ring: 211 86% 60%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border) / 1);
  }
  body {
    background-color: hsl(var(--background) / 1);
    color: hsl(var(--foreground) / 1);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
}
